{
  "region": "${region}",
  "purpose": "${purpose}",
  "input": {
    "appName": "${app_name}",
    "streamName": "${in_stream_name}",
    "position": "${initial_position}",
    "maxRecords": 10000
  },
  "output": {
    "s3": {
      "path": "s3://${s3_bucket_path}",
      "maxTimeout": 120000,
%{ if partition_format != "" ~}
      "partitionFormat": "${partition_format}",
%{ endif ~}
      "compression": "${s3_format}"
    },
    "bad": {
      "streamName": "${out_stream_name}"
    }
  },
  "buffer": {
    "byteLimit": ${byte_limit},
    "recordLimit": ${record_limit},
    "timeLimit": ${time_limit_ms}
  }
}
