{
  "input": {
    "appName": "${app_name}"
    "streamName": "${in_stream_name}"
    "initialPosition": {
      "type": "${initial_position}"
    }
  }

  "output": {
    "good": {
      "path": "s3://${s3_bucket_path}"
%{ if partition_format != "" ~}
      "partitionFormat": "${partition_format}"
%{ endif ~}
    }

    "bad": {
      "streamName": "${out_stream_name}"
    }
  }

  "purpose": "${purpose}"

  "batching": {
    "maxBytes": ${byte_limit}
    "maxDelay": "${time_limit_ms} milliseconds"
  }
}
